<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:justify-content="http://www.w3.org/1999/xhtml">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../../static/css/bootstrap.min.css"
        rel="stylesheet">
  <title>Emotion Community</title>
  <link th:href="@{/css/sticky-footer-navbar.css}"
        href="../../static/css/sticky-footer-navbar.css" rel="stylesheet">

</head>
<style>
  p{
    font-size: 2px;
    font-weight: bold;
    color: #b02a37;
  }
  .fieldError{
    border-color: #bd2130;
  }
</style>
<body>
<div th:replace="fragments/common :: menu">
</div>

<main class="flex-shrink-0">
  <div class="container">
    <h2 class="mt-5">게시판</h2>
    <form th:action="@{/posts}" method="post" th:object="${postCreate}">
      <div class="form-group">
        <label th:for="title">제목</label>
        <input type="text" class="form-control" th:field="*{title}"
               th:class="${#fields.hasErrors('title')} ? 'form-control fieldError' : 'form-control'">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
      </div>
      <div class="form-group">
        <label th:for="content">내용</label>
        <textarea class="form-control" i rows="3" th:field="*{content}"
                  th:class="${#fields.hasErrors('content')} ? 'form-control fieldError' : 'form-control'"></textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">글쓰기</button>
        <a th:href="@{/posts}" class="btn btn-secondary">목록으로</a>
      </div>
    </form>
  </div>

</main>


</body>
</html>