<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:justify-content="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extars/spring-security">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../../static/css/bootstrap.min.css"
        rel="stylesheet">
  <title>Emotion Community</title>
  <link th:href="@{/css/sticky-footer-navbar.css}"
        href="../../static/css/sticky-footer-navbar.css" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/common :: menu">
</div>

<main class="flex-shrink-0">
  <div class="container">
    <h2 class="mt-5">게시물 상세보기</h2>
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${post.title}" disabled>
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" id="content" rows="3" name="content" th:text="${post.content}" disabled></textarea>
      </div>
      <div class="text-end" sec:authorize="isAuthenticated()">
        <a th:href="@{|/board/edit/${post.getId()}|}"  class="btn btn-primary">수정</a>
        <a th:href="@{|/board/delete/${post.getId()}|}" class="btn btn-danger">삭제</a>
      </div>
  </div>

</main>


</body>
</html>