<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extars/spring-security">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../static/css/bootstrap.min.css"
        rel="stylesheet">
  <title>Emotion Community</title>
</head>
<body>
<div class="card" th:fragment="commentList">
  <div class="card-header">
    댓글
  </div>
    <li class="list-group-item" th:if="${#lists.isEmpty(comments)}">
        <p> 댓글이 존재하지않습니다.</p>
    </li>
  <ul class="list-group-flush" th:if="${comments != null}">
    <li class="list-group-item" th:each="comment :${comments}">

            <span style="font-size: small" th:text="${comment.username}"></span>
            <button class="badge bi bi-pencil-square" >수정</button>
            <button class="badge bi bi-trash">삭제</button>
            <div th:text="${comment.content}"></div>

             <td th:switch="${#strings.toString(comment.emotion)}" >
               <span th:case="POSITIVE"  th:text="긍정" class="badge rounded-pill text-bg-success"/>
               <span th:case="NEUTRAL"  th:text="중립"  class="badge rounded-pill text-bg-secondary"/>
               <span th:case="NEGATIVE"  th:text="부정" class="badge rounded-pill text-bg-danger"/>
            </td>
    </li>
  </ul>
</div>
<div class="card" th:fragment="commentForm">
    <div class="card-header">
        댓글 작성
    </div>
    <div class="card-body">
        <form th:action="@{|/board/posts/${post.id}/write|}"  sec:authorize="isAuthenticated()" method="post">
            <div class="form-group">
                <label for="content"></label>
                <textarea class="form-control" id="content" rows="3" name="content"></textarea>
            </div>
            <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Write</button>
            </div>
        </form>
        <form  sec:authorize="!isAuthenticated()" method="post">
            <div class="form-group">
                <label for="content"></label>
                <textarea class="form-control" id="content" rows="3" name="content" >로그인 후 댓글 작성가능합니다.</textarea>
            </div>
        </form>
    </div>
</div>

</body>
</html>