<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:justify-content="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css"
          rel="stylesheet">
    <title>Emotion Community</title>
    <link th:href="@{/css/signin.css}"
            href="signin.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<style>
    p{
        font-size: 2px;
        font-weight: bold;
        color: #b02a37;
    }
    .fieldError{
        border-color: #bd2130;
    }
    .dis{
        background-color: #c6c7c8;
    }
</style>
<body class="text-center">
<div th:replace="fragments/common :: menu">
</div>

<form class="form-signin" method="post" th:action="@{/account/edit}" th:object="${userEdit}">
    <img class="mb-4" src="https://cdn-icons-png.flaticon.com/128/817/817787.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">사용자 정보 수정</h1>
    <input type="text" th:field="*{username}" class="form-control dis" placeholder="username" readonly>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

    <label th:for="email" class="sr-only">이메일</label>
    <input type="email" th:field="*{email}" class="form-control dis" placeholder="email" readonly>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

    <label th:for="nickname" class="sr-only">닉네임</label>
    <input type="text" th:field="*{nickname}" class="form-control" placeholder="nickname"
           th:class="${#fields.hasErrors('nickname')} ? 'form-control fieldError' : 'form-control'" >
    <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="fieldError"></p>
    <label th:for="password" class="sr-only">비밀번호</label>
    <input type="password" th:field="*{password}" class="form-control" placeholder="Password"
           th:class="${#fields.hasErrors('password')} ? 'form-control fieldError' : 'form-control'" required>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-modify-user" >Edit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2022</p>
</form>

</body>
</html>